<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <div id="app" />
  <script>
    const win = nw.Window.get();
    win.showDevTools()
    window.usb = require('usb')
    window.nodePitchfinder = require('node-pitchfinder')
  </script>
</body>
</html>
